.contact_map{
    position: absolute;
    display: flex;
    top: 65%;
    
    margin-left: 10%;
    width: 80%;
    min-height: 60vh;
    margin-bottom: 10vh;
}

.map_box{
    width: 48%;
    margin-right: 4%;
}

.form_box{
    display: block;
    width: 48%;    
}

.fill{
    display: flex;
    flex-direction: column;    
}

.input{
    position: relative;
    border: none;
    box-sizing: border-box;
    margin: 3% 0;
    padding: 4% 4%;
    background-color: rgba(29,191,175,0.4);
    border-bottom: 1px solid black;
}

#message{    
    height: 100px;
}

#btn{
    border: none;
    width: 20%;
    color: white;
    border-radius: 1em;
    margin-left: 78%;
    text-align: center;
    padding: 2% 4%;
    pointer-events: painted;
    background-color: rgb(29,191,175);
    
}
 
@media (max-width: 900px){   
    .contact_map{
        top: 90%;
        flex-direction: column;
    }
    .map_box{
        width: 100%;
    }
    .form_box{
        width: 100%;
    }
}