header{    
    position: relative;
    margin: 5% 35%;    
    border-bottom: 1px solid;
}

.title{    
    font-size: 25px;     
    text-transform: uppercase;
    font-family: Arial,Helvetica,sans-serif;    
}


img{    
    position: relative;
    float: left;
    width: 30%;
    height: 200px;
    padding: 1.66%;    
}


.footer{
    position: absolute;
    bottom: 0px;
    margin-left: 42%;    
}